/*sets global font and background image for the page*/
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #faffc7;
color: #ffd1d5;
}

/*styles the header and navigation bar*/
#home {
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-self: center;
}

/*makes this section take full viewport height and center content*/
.intro-text {
    justify-content: space-between;
    padding: 2rem;
    background-color: #f2b6f2;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
    font-size: 25px;
    color: #faffc7;
}

/*styles the navigation links*/
header {

}
#logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    align-items: left;
    display: absolute;
    padding-right: 750px;
}
nav{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;
    gap: 50px;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    font-size: x-large;
}

#link{
    position: relative;
    text-align: center;
    color: pink;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#link:hover{
    color: #f2b6f2;
    text-shadow: 0 0 10px #f2b6f2;
}
#link::after {
    content: '';
    height: 0px;
    width: 10px;
    bottom: -25px;
    left: calc(50% - 5px);
    position: absolute;
    background-color: #f2b6f2;
    border-radius: 50px;
    transition: 3em;
}


/*Sytles the sliding project cards section*/
#project-cards {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*styles the ending contact section*/
#ending-sec{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.ending-text {
    justify-content: space-between;
    padding: 2rem;
    background-color: #f2b6f2;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
    font-size: 25px;
    color: #faffc7;
}

